$sp-color-red1: #ad002c;
$sp-color-red2: #c02;

/* wrapper width */
$sp-content-width: 976px;

/* global color */
$sp-color-red: #dd2d4a;
$sp-color-red-attention: #d00;
$sp-color-red-border-error: #f2a7a9;
$sp-color-red-border-bottom: #880d1e;
$sp-color-yellow: #e89005;
$sp-color-green: #0dab76;
$sp-color-white: #fff;
$sp-color-gray: #dcdcdc;
$sp-color-gray-10: #fafbfc;
$sp-color-gray-30: #e9ecf0;
$sp-color-gray-50: #bdc1c4;
$sp-color-gray-70: #75757c;
$sp-color-gray-bottom: #7f878f;
$sp-color-black: #333;
$sp-color-category: #2a642a;
$sp-color-tag-border: #c8c8cb;
$sp-color-tag-background: #fafafa;

/* link color */
$sp-link-color: #1a0dab;
$sp-link-visited-color: #609;

$sp-footer-border-top: 1px solid $sp-color-gray-50;
